{# Breadcrumbs #} {% load i18n %}

<ul class="breadcrumb">
    <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{% url 'front' %}">
            {% trans 'Inicio' %}
        </a>
    </li>
    {% if url_2 and txt_2 %}
    <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{{ url_2 }}">
            {{ txt_2 }}
        </a>
    </li>
    {% endif %} {% if txt_3 %}
    <li class="breadcrumb__item">
        {% if url_3 %}<a class="breadcrumb__link" href="{{ url_3 }}">{% endif %}
            {{ txt_3 }}
        {% if url_3 %}</a>{% endif %}
    </li>
    {% endif %}
    {% if txt_4 %}
    <li class="breadcrumb__item">
        {{ txt_4 }}
    </li>
    {% endif %}
</ul>
