{# Base view #} {% load i18n %}

<div class="view-{{ view_class }}{% if classname_modifier %}--{{ classname_modifier }}{% endif %}">
    {% if title %}
        <h4 class="view-{{ view_class }}{% if classname_modifier %}--{{ classname_modifier }}{% endif %}__title">
            {{ title }}
        </h4>
    {% endif %}

    <div class="view-{{ view_class }}{% if classname_modifier %}--{{ classname_modifier }}{% endif %}__content">
        <div class="view-sizer"></div> {# for masonry templates #}
        {% with 'views/'|add:template|add:'.html' as template %}
            {% for item in items %}
                {% include template with item=item %}
            {% empty %}
                <div class="no-results">
                    <p class="no-results__text">
                        {% trans 'Todavía no se han subido a la plataforma contenidos de este tipo.' %}
                    </p>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
</div>
