{# Render an Agreement in a view #} {% load i18n %}

<div class="agreement-item">
    <div class="inner">
        <p class="icon-acuerdo"></p>
        <p class="agreement-item__label">
            {{ item.get_category_display }}
        </p>
        <h4 class="agreement-item__title">
            {{ item.title }}
        </h4>
        <p class="agreement-item__description">
            {{ item.summary }}
        </p>
        <p class="agreement-item__language">
            <label>{% trans 'Idioma' %}</label> {{ item.language }}
        </p>
    </div>
    <div class="agreement-item__document">
        <a target="_blank" href="{{ item.document.url }}">
            {% trans 'Descarga' %}<span class="icon-descarga"></span>
        </a>
    </div>
</div>
