{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="batch-item">
    <div class="inner">
        {% if item.image %}
            <div class="batch-item__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% elif item.material.image %}
            <div class="batch-item__field-image">
                {% thumbnail '400x' item.material.image %}
            </div>
        {% endif %}
        <h5 class="batch-item__field-name">
            {{ item.quantity}} {{ item.material.get_unit_display }} de {{ item.material.name }}
        </h5>
        {% if item.expiration %}
        <div class="batch-item__field-expiration">
            {{ item.expiration }}
        </div>
        {% endif %}
        <div class="batch-item__field-description">
            {{ item.public_info }}
        </div>
    </div>
</div>
