{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="batch-item--space-dashboard">
    {% user_actions item user %}
    <div class="inner">
        <div class="batch-item__header">
            <span class="batch-item__field-icon icon-{{ item.material_family }}"></span>
            <span class="batch-item__field-id">ref. {{ item.batch_id }}</span>
        </div>
        {% if item.image %}
            <div class="batch-item__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% elif item.material.image %}
            <div class="batch-item__field-image">
                {% thumbnail '400x' item.material.image %}
            </div>
        {% endif %}
        <div class="batch-item__field-date">
            <p>{{ item.date }}</p>
        </div>
        {% if user|has_permissions:item and item.total %}
        <div class="batch-item__field-offer">
            <h5 class="batch-item__field-label">
                {% trans 'Total' %}
            </h5>
            <p><a href="{% url 'batch' item.id %}">
                {{ item.total }} {{ item.material.get_unit_display|lower }}
            </a></p>
        </div>
        {% endif %}
        <div class="batch-item__field-offer">
            <h5 class="batch-item__field-label">
                {% trans 'Ofrece' %}
            </h5>
            <p><a href="{% url 'batch' item.id %}">
                {{ item.quantity }} {{ item.material.get_unit_display|lower }} {% trans 'de' %} {{ item.material.name|lower }}
            </a></p>
        </div>
        {% if item.expiration %}
            <div class="batch-item__field-caducity">
                <em>{% trans 'Hasta el' %} {{ item.expiration }}</em>
            </div>
        {% endif %}
    </div>
</div>
