{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="batch-item cat-{{ item.category | lower }} mat-{{ item.material.family | lower }} sub-{{ item.material.subfamily | lower}}">
    {% user_actions item user %}
    <div class="inner">
        <div class="batch-item__header">
            <span class="batch-item__field-icon icon-{{ item.material_family }}"></span>
            <span class="batch-item__field-id">ref. {{ item.batch_id }}</span>
        </div>
        {% if item.image %}
            <div class="batch-item__field-image">
                <a href="{% url 'batch' item.id %}" title="{% trans 'Ampliar información' %}">
                    {% thumbnail '400x' item.image %}
                </a>
            </div>
        {% elif item.material.image %}
            <div class="batch-item__field-image">
                <a href="{% url 'batch' item.id %}" title="{% trans 'Ampliar información' %}">
                    {% thumbnail '400x' item.material.image %}
                </a>
                <div class="batch-item__default-image-alert">
                    {% trans 'El lote no tiene una imagen asociada, se está usando la imagen genérica del material del lote' as help_text %}
                    {% icon 'info' help_text %}
                </div>
            </div>
        {% endif %}
        <div class="batch-item__field-date">
            <p>{{ item.date }}</p>
        </div>
        <div class="batch-item__field-offer">
            {% if item.category == 'of' %}
                <h5 class="batch-item__field-label">
                    {% trans 'Se ofrece' %}
                </h5>
            {% else %}
                <h5 class="batch-item__field-label">
                    {% trans 'Se necesita' %}
                </h5>
            {% endif %}
            <p><a href="{% url 'batch' item.id %}">
                {% if item.quantity %}
                    {{ item.quantity }} {{ item.material.get_unit_display|lower }} {% trans 'de' %} {{ item.material.name|lower }}
                {% else %}
                    {{ item.material.name }}
                {% endif %}
            </a></p>
        </div>
        <div class="batch-item__field-space">
          <h5 class="batch-item__field-label">{% trans 'En' %}</h5>
          <p><a href="{% url 'space' item.space.slug %}">{{ item.space.name }}</a>, {{ item.space.place }}</p>
        </div>
    </div>
</div>
