{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="view-item view-item--blog {% if not item.published %}view-item--unpublished{% endif %}">
    <div class="inner">
        {% include 'views/item-actions.html' with slug=item.slug model='post' %}
        {% if item.image %}
            <div class="view-item__field view-item__field--image">
                <a href="{% url 'blog_item' item.slug %}">
                    {% thumbnail '400x' item.image %}
                </a>
            </div>
        {% endif %}
        <h4 class="view-item__field view-item__field--title">
          <a href="{% url 'blog_item' item.slug %}">{{ item.title }}</a>
        </h4>
        <div class="view-item__field view-item__field--date">
          <p>{{ item.creation_date }}</p>
        </div>
        <div class="view-item__field view-item__field--summary">
          <p>{{ item.summary }}</p>
        </div>
        {% if not item.published %}
            <div class="view-item__field view-item__field--published">
              <p>{% trans 'No publicado' %}</p>
            </div>
        {% endif %}
    </div>
</div>
