{# Render a Node post in a view #} {% load utils i18n imagekit %}

<div class="node-item">
    <a class="inner" href="{% url 'node' item.slug %}">
        <div class="inner__left">
            <div class="node-item__field-thumbnail">
                <img src="{{ item.thumbnail.url }}" />
            </div>
            <h4 class="node-item__field-title">
                {{ item.name }}
            </h4>
        </div>
        <div class="inner__center">
            <div class="node-item__field-members">
                <p class="node-item__field-label">
                    <span class="icon-personas"></span>
                    <span>{% trans 'Miembros' %}</span>
                </p>
                <p class="node-item__field-value node-item__field-value--members">
                    {{ item.members }}
                </p>
            </div>
            <div class="node-item__field-recovered">
                <p class="node-item__field-label">
                    <span class="icon-recuperados"></span>
                    <span>{% trans 'Materiales recuperados' %}</span>
                </p>
                <p class="node-item__field-value node-item__field-value--recovered">
                    0 <small>tn.</small>
                </p>
            </div>
            <div class="node-item__field-activated">
                <p class="node-item__field-label">
                    <span class="icon-activados"></span>
                    <span>{% trans 'Materiales activados' %}</span>
                </p>
                <p class="node-item__field-value node-item__field-value--activated">
                    0 <small>tn.</small>
                </p>
            </div>
        </div>
        <div class="inner__right">
            <p class="node-item__field-creation-date">
                <p class="node-item__field-label">
                    {% trans 'Fecha de alta' %}
                </p>
                <span class="node-item__field-value">
                    {{ item.creation_date }}
                </span>
            </p>
        </div>
    </a>
</div>
