{# Render a Node post in a view #} {% load utils i18n imagekit %}

<div class="node-item">
    <div class="inner">
        <div class="node-item__field-thumbnail">
            <img src="{{ item.image.url }}" alt="Imagen representativa de {{ item.name }}" />
        </div>
        <p class="node-item__field-place">
            {{ item.place }}
        </p>
        <h4 class="node-item__field-title">
            {{ item.name }}
        </h4>
        <p class="node-item__field-description">
            {{ item.description }}
        </p>
        {% if item.url %}
        <p class="node-item__field-url">
            <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
        </p>
        {% endif %}
        {% if item.spaces.all|length > 0 %}
            <div class="node-item__field-spaces">
                <p class="node-item__field-label">
                    {% trans 'Nodos del GRRR asociados' %}
                </p>
                {% for space in item.spaces.all %}
                    <p class="node-item__space">
                        <a href="{% url 'space' space.slug %}">
                            <img class="node-item__space-thumbnail" src="{{ space.thumbnail.url }}" />
                            <span class="node-item__space-name">{{ space.name }}</span>
                        </a>
                    </p>
                {% endfor %}
                </p>
            </div>
        {% endif %}
    </div>
</div>
