{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="view-item--reuse {% if not item.published %}unpublished{% endif %}">
    {% user_actions item user %}
    <a class="inner" href="{% url 'reuse' item.slug %}">
        {% if item.image %}
            <div class="view-item--reuse__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% endif %}
        <h4 class="view-item--reuse__field-name">
            {{ item.name }}
        </h4>
        <div class="view-item--reuse__field-date">
            <p>
                {{ item.date|date:"d-M-Y"  }}
            </p>
        </div>
        <div class="view-item--reuse__field-summary">
            <p>
                {{ item.summary }}
            </p>
        </div>
        {% if not item.published %}
            <div class="view-item--reuse__field-published">
                <p>{% trans 'No publicado' %}</p>
            </div>
        {% endif %}
    </a>
</div>
