{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="reuse-item {% if not item.published %}unpublished{% endif %}">
    {% user_actions item user %}
    <a class="inner" href="{% url 'reuse' item.slug %}">
        {% if item.image %}
            <div class="reuse-item__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% endif %}
        <h4 class="reuse-item__field-name">
            {{ item.name }}
        </h4>
        <div class="reuse-item__field-date">
            {{ item.date|date:"d-M-Y"  }}
        </div>
        <div class="reuse-item__field-summary">
            {{ item.summary }}
        </div>
        {% if not item.published %}
            <div class="reuse-item__field-published">
                <p>{% trans 'No publicado' %}</p>
            </div>
        {% endif %}
    </a>
</div>
