{# Render a Sms object in a view #} {% load i18n utils static %}

<div class="sms-item {% if item.datetime > unseen_date %}sms-item--new{% endif %} {% if item.notification %}sms-item--n12n{% endif %}">
    <div class="inner">
        <div class="sms-item__nodes">
            {% if item.datetime > unseen_date %}
                <span class="sms-item__new">Nuevo</span>
            {% endif %}
            {% if item.notification %}
                <span class="icon-grrr"></span> {% trans 'Notificación' %}
            {% else %}
                {% trans 'De ' %}
                {{ item.author }}
                {% if item.emissor %}
                    <a href="{% url 'space' item.emissor.slug %}" title="{% trans 'Ir al perfil del remitente' %}" target="_blank">
                        ({{ item.emissor.name }})
                    </a>
                {% endif %}
            {% endif %}
            {% trans 'a ' %} {{ item.receiver.name }}
            {% if item.batch %}
                {% trans 'sobre el lote' %}
                <a href="{% url 'batch' item.batch.pk %}"
                   title="{% trans 'Revisa el lote' %}" target="_blank">
                    {{ item.batch.batch_id }}
                </a>
            {% endif %}
        </div>
        <div class="sms-item__date">
            <p class="sms-item__date-day">
                {{ item.datetime|date:"d" }}
            </p>
            <p class="sms-item__date-month">
                {{ item.datetime|date:"M" }}
            </p>
            <p class="sms-item__date-year">
                {{ item.datetime|date:"Y" }}
            </p>
            <p class="sms-item__date-time">
                {{ item.datetime|date:"H:i" }}
            </p>
        </div>
        <div class="sms-item__body">
            {{ item.body | urlize }}
        </div>
        {% if not item.notification %}
            <div class="sms-item__reply">
                <a href="{% url 'models:reply_sms' item.pk %}">
                    {% icon 'reply' 'Responde' %}
                </a>
            </div>
        {% endif %}
    </div>
</div>
