{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="space-item {% if not item.published %}unpublished{% endif %}">
    {% user_actions item user %}
    <a class="inner" href="{% url 'space' item.slug %}">
        {% if item.image %}
            <div class="space-item__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% endif %}
        <div class="space-item__field-place">
            {{ item.place }}
        </div>
        <h4 class="space-item__field-name">
            {{ item.name }}
        </h4>
        <div class="space-item__field-summary">
            {% if item.active %}
                <span class="space-item__field-active icon-repeat"></span>
            {% endif %}
            {{ item.summary }}
        </div>
        {% if not item.published %}
            <div class="space-item__field-published">
                <p>{% trans 'No publicado' %}</p>
            </div>
        {% endif %}
        {% if item.ratings.all.0.average >= 4.0 %}
            <div class="space-item__field-quality-seal">
                <img src="{% img '/ethic-code/sello-calidad-grrr.png' %}" />
            </div>
        {% endif %}
    </a>
</div>
