{# Render a Blog post in a view #} {% load utils i18n imagekit %}

<div class="space-item
            {% if item.reuse %}reuse{% else %}not-reuse{% endif %}
            {% if item.active %}active{% endif %}
            {% if not item.published %}unpublished{% endif %}
            {% if item.ratings.all.0.average >= 4.0 %}seal{% endif %}">
    {% user_actions item user %}
    <a class="inner" href="{% url 'space' item.slug %}">
        {% if item.image %}
            <div class="space-item__field-image">
                {% thumbnail '400x' item.image %}
            </div>
        {% endif %}
        <div class="space-item__field-place">
            {{ item.place }}
        </div>
        <h4 class="space-item__field-name">
            {{ item.name }}
        </h4>
        <div class="space-item__field-summary">
            <span class="space-item__field-category {% if item.active %}active{% endif %}">
                {% if item.reuse %}
                    {% if item.active %}
                      {% trans 'Reuso activo' as active_text %}
                    {% else %}
                      {% trans 'Reuso' as active_text %}
                    {% endif %}
                    {% icon icon="repeat" text=active_text %}
                {% else %}
                    {% if item.active %}
                      {% trans 'Almacén activo' as active_text %}
                    {% else %}
                      {% trans 'Almacen' as active_text %}
                    {% endif %}
                    {% icon icon="box" text=active_text %}
                {% endif %}
            </span>
            {{ item.summary }}
        </div>
        {% if not item.published %}
            <div class="space-item__field-published">
                <p>{% trans 'No publicado' %}</p>
            </div>
        {% endif %}
        {% if item.ratings.all.0.average >= 4.0 %}
            <div class="space-item__field-quality-seal">
                <img src="{% img '/ethic-code/sello-calidad-grrr.png' %}" />
            </div>
        {% endif %}
    </a>
</div>
