{# Base view #} {% load i18n %}

<div class="view {% if view_class %}view--{{ view_class }}{% endif %}">
    {% if view_title %}
        <h4 class="view__title {% if view_class %}view__title--{{ view_class }}{% endif %}">
            {{ view_title }}
        </h4>
    {% endif %}

    <div class="view__content {% if view_class %}view__content--{{ view_class }}{% endif %}">
        {% with 'views/'|add:template|add:'.html' as template %}
            {% for item in items %}
                {% include template with item=item %}
            {% empty %}
                {% include 'views/no-results.html' %}
            {% endfor %}
        {% endwith %}
    </div>
</div>
