{# Extend basic page #}
{% extends 'layouts/single-fixed-column--no-footer.html' %} {% load i18n static %}
{% block body_classes %}password-reset-done{% endblock %}

{# Content #}
{% block main %}
    {# Title #}
    {% trans 'Te hemos enviado un correo' as page_title %}
    {% include 'blocks/page-title.html' with text=page_title icon="grrr" %}

    <div class="password-change-done-instructions">
        {% blocktrans trimmed%}
            Te hemos enviado instrucciones para cambiar tu contraseña a tu correo
            electrónico.
            <br/><br/>
            <em>Si no encuentras el correo comprueba el correo electrónico que
            has introducido y no se te olvide comprobar la bandeja de spam</em>.
        {% endblocktrans %}
    </div>

{% endblock %}
