{# Password recovery page #} {% extends 'layouts/single-fixed-column--no-footer.html' %} {% load i18n utils %}
{% block body_classes %}password-change{% endblock %} {% block htmltitle %}Cambia tu contraseña{% endblock %}


{# Content #}
{% block main %}
    {% fake_breadcrumb %}
    {% trans 'Cambia tu contraseña' as title_text %} {% include 'blocks/page-title.html' with text=title_text icon="unlock" %}
    <div class="password-reset-instructions">
        {% blocktrans trimmed %}
            Introduce tu contraseña actual y la nueva por duplicado (para prevenir errores).
        {% endblocktrans %}
    </div>
    {% include 'forms/regular-form.html' with form_title="Cambia la contraseña" form=form form_class="pass-recovery" submit_text="Envía" %}
{% endblock %}
