{# Password recovery page #} {% extends 'layouts/single-fixed-column--no-footer.html' %} {% load i18n utils %}
{% block body_classes %}password-change-done{% endblock %} {% block htmltitle %}Cambia tu contraseña{% endblock %}


{# Content #}
{% block main %}
    {% trans 'Contraseña cambiada' as title_text %} {% include 'blocks/page-title.html' with text=title_text icon="unlock" %}
    <div class="password-change-done-instructions">
        {% blocktrans trimmed %}
            Has cambiado con éxito tu contraseña. <br/>
        {% endblocktrans %}
        <a class="return-button" href="{% url 'dashboard' %}">
            {% trans 'Volver a tu perfil de usuari@' %}
        </a>
    </div>
{% endblock %}
