{# Password recovery page #} {% extends 'layouts/single-fixed-column--no-footer.html' %} {% load i18n utils %}
{% block body_classes %}password-recovery{% endblock %} {% block htmltitle %}Recupera tu contraseña{% endblock %}


{# Content #}
{% block main %}
    {% fake_breadcrumb %}
    {% trans 'Recupera tu contraseña' as title_text %} {% include 'blocks/page-title.html' with text=title_text icon="unlock" %}
    <div class="password-reset-instructions">
        {% blocktrans trimmed %}
            Si has olvidado tu contraseña introduce el correo electrónico asociado a la cuenta
            y recibirás en el mismo instrucciones para cambiarla.
        {% endblocktrans %}
    </div>
    {% include 'forms/regular-form.html' with form_title="Login" form=form form_class="pass-recovery" submit_text="Envía" %}
    {% include 'menus/menu-registration.html' %}
{% endblock %}
