{# Site front page #} {% extends 'layouts/single-fixed-column--map.html' %} {% load i18n static utils leaflet_tags %}
{% block body_classes %}front{% endblock %}

{% block page_header %}
     {% leaflet_css %}
{% endblock %}

{% block map_legend %}
    <div class="frontmap-legend">
        <p class="frontmap-legend__label">{% trans 'Leyenda' %}</p>
        <ul class="frontmap-legend__filters">
            <li class="frontmap-legend__filter frontmap-legend__filter--legend" data-key="of">
                <span class="icon-offer"></span><span class="inner"></span>
                <span class="frontmap-legend__filter-text">
                    {% trans 'Ofertas de materiales' %}
                </span>
            </li>
            <li class="frontmap-legend__filter frontmap-legend__filter--legend" data-key="de">
                <span class="icon-demand"></span><span class="inner"></span>
                <span class="frontmap-legend__filter-text">
                    {% trans 'Necesidades de materiales' %}
                </span>
            </li>
            <li class="frontmap-legend__filter frontmap-legend__filter--legend active" data-key="all">
                <span class="frontmap-legend__filter-text">
                    {% trans 'Ver todo' %}
                </span>
            </li>
        </ul>
        <p class="frontmap-legend__label">{% trans 'Filtra' %}</p>
        <ul class="frontmap-legend__filters">
            {% for key, material in materials %}
                <li class="frontmap-legend__filter frontmap-legend__filter--filter icon-{{ key|lower }}" data-key="{{ key|lower }}">
                    <span class="frontmap-legend__filter-text">
                        {{ material }}
                    </span>
                </li>
            {% endfor %}
            <li class="frontmap-legend__filter frontmap-legend__filter--filter active" data-key="all">
                <span class="frontmap-legend__filter-text">
                    {% trans 'Ver todo' %}
                </span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="front__top">
        <div class="front__top-left">
            <h4 class="front_label">
              <a href="{% url 'batches' %}" title="{% trans 'Busca ofertas y demandas' %}">
                  {% trans 'Se ofrece' %}
              </a>
            </h4>
            {% view items=offers user=request.user %}
        </div>
        <div class="front__top-center">
          <h4 class="front_label">
            <a href="{% url 'batches' %}" title="{% trans 'Busca ofertas y demandas' %}">
                {% trans 'Se necesita' %}
            </a>
          </h4>
            {% view items=demands user=request.user %}
        </div>
        <div class="front__top-right">
          <h4 class="front_label">
            <a href="{% url 'reuses' %}" title="{% trans 'Busca ofertas y demandas' %}">
                {% trans 'Reusos' %}
            </a>
          </h4>
            {% view items=spaces user=request.user %}
        </div>
    </div>
    <div class="front__bottom">
      <h4 class="front_label">
        <a href="{% url 'blog' %}" title="{% trans 'Visita el blog de la web' %}">
            {% trans 'Blog' %}
        </a>
      </h4>
        {% view items=posts user=request.user %}
    </div>
{% endblock %}

{% block page_scripts %}
    {% leaflet_js  %}
    {% jquery %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <script type="text/javascript" src="{% js 'batches-map.js' %}"></script>
{% endblock %}
