{# Site front page #} {% extends 'layouts/single-fixed-column--map.html' %} {% load static utils leaflet_tags %}
{% block body_classes %}front{% endblock %}

{% block page_header %}
     {% leaflet_css %}
{% endblock %}

{% block main %}
    <div class="front__top">
        <div class="front__top-left">
            {% view items=offers user=request.user title="Se ofrece" %}
        </div>
        <div class="front__top-center">
            {% view items=demands user=request.user title="Se necesita" %}
        </div>
        <div class="front__top-right">
            {% view items=spaces user=request.user title="Reusos" %}
        </div>
    </div>
    <div class="front__bottom">
        {% view items=posts user=request.user %}
    </div>
{% endblock %}

{% block page_scripts %}
    {% leaflet_js  %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <script type="text/javascript" src="{% js 'nodes-map.js' %}"></script>
{% endblock %}
