{# Renders a template with a single column of fixed with #}
{% extends 'base.html' %} {% block layout_classes %}sidebar-right-fixed{% endblock %}

{% block layout %}

    {% include 'regions/header.html' with region_name='header' html_container='header' layout='fixed' %}
    {% include 'regions/subheader.html' with region_name='subheader' html_container='section' layout='fixed' %}
    
    <div class="region-preface">
        <div class="container-fixed">
            {% block preface %}{% endblock %}
        </div>
    </div>

    <div class="region-content">
        <div class="container-fixed">
            <main class="layout-main">
                {% block main %}{% endblock %}
            </main>
            <aside class="layout-sidebar">
              {% block sidebar %}{% endblock %}
            </aside>
        </div>
    </div>


    {% include 'regions/footer.html' with region_name='footer' html_container='footer' layout='fixed' %}

{% endblock %}
