// View of node
// views/node-item.hml

@import compass/css3/border-radius
@import compass/css3/inline-block

.node-item--dashboard
  +links_none
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.node-item__field-thumbnail--dashboard
  margin-right: $m/3
  img
    +border-radius(50%)
    max-width: $m*1.5

.node-item__field-thumbnail--dashboard,
.node-item__field-title--dashboard
  +inline-block

.node-item--dashboard a
  display: block
  +transition(background-color .15s ease)
  &:hover
    .node-item__field-title--dashboard
      background-color: $palette_yellow

.node-item__field-title--dashboard
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: calc(100% - 50px)
