// View of node
// views/node-item.hml

@import compass/css3/border-radius

.node-item
  +links_remarked
  .inner
    display: block
    +clearfix
    padding: $m
    background-color: #eee
    margin-bottom: $m
    &:hover
      outline: 2px solid #222
      background-color: white
  [class^='inner__']
    text-align: center
  .inner__left
    +column(2, 'sm', 20px)
    padding-right: $m !important
  .inner__center
    +column(8, 'sm', 20px)
    vertical-align: center
    margin-top: $m
    border-left: 1px solid #555
    border-right: 1px solid #555
  .inner__right
    +column(2, 'sm', 20px)
    padding-left: $m !important

.node-item__field-title
  margin: 0

.node-item__field-activated,
.node-item__field-recovered,
.node-item__field-members
  +column(4, 'sm', 20px)
  text-align: center
  text-transform: uppercase

.node-item__field-value--activated,
.node-item__field-value--recovered,
.node-item__field-value--members
  +h(1)
.node-item__field-label--activated,
.node-item__field-label--recovered,
.node-item__field-label--members
  font-size: .75em

.node-item .inner__center
  [class^='icon']::before
    display: block
    font-size: $m*3

.node-item__field-thumbnail
  img
    +border-radius(50%)
