// View of node
// views/node-item.hml

@import compass/css3/border-radius

.node-item
  +view_item_normal
  +view_item_3-2-1
  .inner:hover
    outline: 0
  .inner
    background: #f5f5f5
    margin: $m/2
.node-item__space-thumbnail
  width: $m*2
  display: inline-block
  +border-radius(50%)
  margin-right: $m/3
.node-item__field-thumbnail
  text-align: center
.node-item__space-name
  display: inline-block
  line-height: $m*2
  vertical-align: top

.node-item__space a
  display: block

.node-item__field-label
  margin: $m 0 $m/2
  +h(6)
  text-transform: uppercase

.node-item__field-url
  margin-top: $m/3
  font-weight: bold
  &::after
    content: "↗"
    color: #999
    font-size: 13px
    vertical-align: top
    line-height: $m

.node-item__space a:hover
  outline: 2px solid $color_text

.node-item__field-place
  margin: $m 0 $m/4
  font-size: $size_small
  text-transform: uppercase

.node-item__field-title
  margin-top: 0

.node-item__field-spaces
  border-top: 1px solid $color_text
  margin-top: $m/2
