// Page titles
// multiple

@import compass/css3/inline-block

.page-title
  line-height: 50px
  padding-bottom: $m/2
  margin-bottom: $m*2
  font-size: 1.4rem
  +clearfix

.page-title__icon
  font-size: 50px
  margin-right: $m/2
  vertical-align: middle
  line-height: 1rem
  float: left
  width: $m*2
.page-title__text
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: calc(100% - #{$m*3})
  text-transform: uppercase
  color: white
  background: #111
  line-height: 1.4
  padding: $m/4 $m
  vertical-align: middle

// Exclude blog items for title styling
.post-detail,
.reuse-detail
  .page-title
    line-height: inherit !important
    margin-bottom: $m/4
    margin-top: 0
    padding-bottom: 0
    font-size: 1.6rem
  .page-title__icon
    margin-right: inherit
  .page-title__text
    padding: inherit
    background: inherit
    color: inherit
    text-transform: inherit
    vertical-align: inherit
    +inline-block
    margin-bottom: 0
    white-space: inherit
