// Displays a Reuse item in a view
// views/blog-item.html

@import compass/css3/transition
@import compass/css3/opacity

.post-item
  +view_item_normal
  .inner
    +clearfix

.blog .post-item,
.front .post-item
  +view_item_3-2-1

.post-item--space
  +links_normal_noborder
  +clearfix
  +transition(background-color .25s ease)
  background-color: white
  position: relative
  &:hover
    background-color: #f5f5f5
  .inner
    display: block
    padding: $m
  .inner__left
    position: relative
    +breakpoint('sm')
      width: 50%
      float: left
      padding-right: $m
  &.unpublished
    +opacity(.75)
  [class*='node-actions--']
    position: absolute
    background: white
    right: 0
    top: 0
    padding: $m/4
  [class*='node-actions__action--']
    font-size: 1rem
  [class*='field-published']
    position: absolute
    left: $m
    top: $m
    background: white
    padding: $m/4
    text-transform: uppercase
    font-size: $size_small

.post-item__field-title
  margin: 0

.post-item--space__field-title
  margin: $m/2 0 0
  text-transform: uppercase

.post-item--space__field-summary
  margin-top: $m/2

.post-item--space__field-date
  text-transform: uppercase
  font-size: $size_small

.post-item__space
  text-transform: uppercase
  font-size: .75em
  margin: $m/2 0 $m/6
