// Share widget
// apps/utils/templates/share.html

@import compass/css3/inline-block
@import compass/css3/transition

.share
  margin: $m*2 0
  padding: $m/3
  background-color: #f5f5f5

.share__label
  text-transform: uppercase
  font-size: $size_small
  letter-spacing: 1px

.share__links
  padding: $m/3 0
  text-align: center

.share__link
  +inline-block
  font-size: 2em
  width: 32%
  +transition(color, .15s, ease)

.share__link--twitter
  +links(#555, #1DA1F2, .15s ease)
.share__link--facebook
  +links(#555, #3B5998, .15s ease)
.share__link--google
  +links(#555, #DB4437, .15s ease)
