// Profile to be shown on space pages
// blocks/space-profile.html

@import compass/css3/transition
@import compass/css3/border-radius

.space-profile__location
  margin-bottom: 0
  position: relative
  &:hover
    cursor: pointer
    background-color: $palette_yellow

.space-profile__location-address
  text-transform: uppercase
  font-size: $size_small

.space-profile__location-icon
  font-size: 16px
  margin-right: $m/4

.space-profile__location-icon,
.space-profile__location-address
  vertical-align: middle

.space-profile__location-address::after
  content: "⌄"
  color: #555
  position: absolute
  font-size: 1.5em
  right: 0
  top: -8px

.space-profile.active .space-profile__location-address::after
  content: "⌃"
  top: 0px

.space-profile__location-map
  visibility: hidden
  height: 0
  +transition(height .15s ease)

.space-profile.active .space-profile__location-map
  visibility: visible
  height: 300px

#space-location
  height: 200px

.space-profile__name
  text-transform: uppercase
  margin: $m/2 0
  +links_remarked

.space-profile__location-trigger
  border-bottom: 2px solid $color_text

.space-profile__nodes-item
  clear: both
  margin: $m/3 0

.space-profile__nodes-text,
.space-profile__nodes-image
  vertical-align: middle

.space-profile__nodes-image
  +border-radius(50%)
  width: $m*2
  margin-right: $m/2

.space-profile__nodes-title,
.space-profile__ratings-title,
.space-profile__agreements-title,
.space-profile__numbers-title
  margin-bottom: $m/2
  border-bottom: 1px solid $color_text

.space-profile__ratings .star-ratings
  text-align: center
  padding: $m/2 0

.space-profile__share .share
  border-top: 2px solid $color_text
  margin-top: $m/2

.space-profile__agreements-icon
  font-size: 24px

.space-profile__thumbnail
  width: $m*2
  +border-radius(50%)
  display: inline-block
  float: left
  margin-right: $m/2

.space-profile .inner
  margin-bottom: $m

.space-profile__numbers
  +clearfix

.space-profile__numbers-icon
  font-size: 72px

.space-profile__numbers-activated,
.space-profile__numbers-recovered
  width: 50%
  float: left
  text-align: center

.space-profile__numbers-label
  text-transform: uppercase
.space-profile__numbers-cipher
  +h(4)

.space-profile
  .milestone
    border: 2px solid #111
    background-color: rgba($palette_yellow, .25)
    +border-radius(50%)

.space-profile__agreements
  +links_remarked
.space-profile__agreements-item
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  line-height: $m

.space-profile__agreements-text
  vertical-align: top

.space-profile__agreements-title,
.space-profile__nodes-title
  +links_remarked
  &::after
    content: "↗"
    color: #999
    font-size: 13px
    vertical-align: top
    line-height: $m

.space-profile__numbers
  .action
    float: left

.space-profile__ratings-explanation,
.space-profile__numbers-explanation
  font-size: .8em
  clear: both
  padding-top: $m
