// Displays a Reuse item in a view
// views/reuse-item.html

.space-item
  +view_item_normal

.reuses .space-item
  +view_item_3-2-1

.space-item__field-category
  font-size: $size_small
  text-transform: uppercase
  padding: $m/4
  margin-right: $m/2
  float: left

.space-item__field-category.active
  background: $palette_yellow

.space-item__field-quality-seal
  position: absolute
  left: 0
  top: 0
  img
    width: 64px
    mix-blend-mode: multiply

.front .space-item
  margin-bottom: $m
  .inner
    padding: 0
  [class*="node-actions--"]
    right: 0
    top: 0

.space-item__field-place
  text-transform: uppercase
  font-size: .75em
  margin-bottom: $m/6
.space-item__field-name
  margin-top: 0

.space-item__field-image
  margin-bottom: $m/2
