// View of node
// views/space-item.hml

@import compass/css3/border-radius
@import compass/css3/inline-block

.space-item--dashboard
  +links_none

.space-item__field-thumbnail--dashboard
  margin-right: 8px
  img
    +border-radius(50%)
    max-width: 36px

.space-item__field-thumbnail--dashboard,
.space-item__field-title--dashboard
  +inline-block

.space-item--dashboard a
  display: block
  +transition(background-color .15s ease)
  &:hover
    .space-item__field-title--dashboard
      background-color: $palette_yellow

.space-item__field-title--dashboard
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: calc(100% - 50px)
