// Displays a Reuse item in a view
// views/reuse-item.html

.space-item
  +view_item_normal

.reuses .space-item
  +view_item_3-2-1

.space-item__field-active
  background: $palette_yellow
  margin-top: $m/2
  font-size: $size_small
  text-align: center
  text-transform: uppercase
  [class^='icon']
    margin-right: $m/2

.space-item__field-quality-seal
  position: absolute
  left: 0
  top: 0
  img
    width: 64px
    mix-blend-mode: multiply
