// Navigation trigger (to open it with js)
// regions/header.html

.trigger-navigation
  +button_headers
  position: fixed
  top: $m
  right: $m
  z-index: 200

.toolbar
  .trigger-navigation
    top: $m + $toolbar_height

@media all and (min-width: #{$menu_breakpoint})
  .trigger-navigation
    display: none
