// Navigation trigger (to open it with js)
// regions/header.html

.trigger-navigation
  position: fixed
  top: $m
  right: $m
  z-index: 90000
  &:hover
    cursor: pointer

.toolbar
  .trigger-navigation
    top: $m/3
    left: $m
    right: inherit

@media all and (min-width: #{$menu_breakpoint})
  .trigger-navigation
    display: none

.trigger-navigation
  margin-top: $m/3
  p
    width: $m
    height: 4px
    background-color: #333
    margin-bottom: 4px
    +transition(transform .25s ease)

.region-header--unfolded
  .b1
    +transform(translateY(6px) rotate(45deg))
  .b2
    opacity: 0
  .b3
    +transform(translateY(-10px) rotate(-45deg))
