@import compass/css3/transition
@import compass/css3/opacity
@import compass/css3/transform
@import compass/css3/animation
@import compass/css3/inline-block
@import compass/css3/filter
@import grid_system

// Classes

.container-fixed
  +container-fixed

.container-fluid
  +container-fluid

.clickable:hover
  cursor: pointer

.hidden
  display: none


// Link style mixins

=links($normal, $hover, $transition)
  a
    +transition( #{$transition} )
    &:link, &:visited
      color: $normal
    &:hover
      color: $hover
    &:active
      color: $normal

=links_normal
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: #333
      border-bottom: 1px dotted #555
    &:hover
      color: black
    &:active
      color: #333

=links_footer
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: white
    &:hover
      color: $palette_yellow
    &:active
      color: white

=links_header
  a, a:link, a:visited, a:hover
    color: $color_text

=links_header_bar
  +links_header
  a:after
    content: " "
    position: absolute
    border-bottom: 2px solid $color_text
    width: 0
    left: 0
    bottom: -$m/4
    +transition(width .4s ease)
  a:hover
    &::after
      width: 100%
  a.active
    &::after
      visibility: visible
      width: 100%
      border-bottom: 4px solid $color_text

=links_remarked
  a
    +transition(background-color .1s ease)
    &:link, &:visited
      color: $color_text
    &:hover
      color: $color_text
      background-color: $palette_yellow
    &:active
      color: $color_text

=links_subheader
  a
    text-transform: uppercase
    +h(5)
    padding: $m/4 $m/3
    +transition(color .1s ease)
    border: 1px solid white
    &:link, &:visited
      color: white
    &:hover
      color: $palette_yellow
    &:active
      color: white


=button_simple
  border: none
  background: none

=button_headers
  +h(5)
  text-transform: uppercase
  border: 1px solid #333
  top: 2px
  padding: $m/8 $m/4
  margin-bottom: $m/2
  +transition(background-color .15s ease)
  &, &:link, &:visited, &:hover
    color: $color_text
  &:hover
    background-color: rgba(black, .05)
    border-color: transparent
    cursor: pointer

=button_add_related
  +h(6)
  text-transform: uppercase
  border: 1px solid #333
  top: 2px
  padding: $m/8 $m/4
  margin-bottom: $m/2
  +transition(background-color .15s ease)
  &, &:link, &:visited, &:hover
    color: $color_text
  &:hover
    background-color: rgba(black, .05)
    border-color: transparent
    cursor: pointer

// Views
=view_item_3-2-1
  display: inline-block
  vertical-align: top
  +breakpoint('sm')
    width: 50%
  +breakpoint('md')
    width: 33%

=view_item_normal
  width: 100%
  position: relative
  margin-bottom: $m/2
  +links_header
  [class*='field-name'],
  [class*='field-title']
    text-transform: uppercase
    margin-bottom: $m/2
    // border-bottom: 2px solid #111
    +links_remarked
  [class*='field-date'],
  [class*='field-creation-date']
    float: left
    text-transform: uppercase
    font-size: $size_small
    margin: 4px $m 4px 0
  [class*='field-published']
    position: absolute
    left: $m
    top: $m
    background: white
    padding: $m/4
    text-transform: uppercase
    font-size: $size_small
  &.unpublished
    +opacity(.75)
  .inner
    display: block
    padding: $m
    &:hover
      outline: 2px solid #111
  [class*='node-actions--']
    position: absolute
    background: white
    right: $m
    top: $m
    padding: $m/4
  [class*='node-actions__action--']
    padding-left: $m/3
    font-size: 1rem


// Items (single model object view)

= detail_normal
  [class$='__summary']
    font-size: 1.5em
    padding: $m/2 0
    border-top: 1px solid $color_text
    border-bottom: 1px solid $color_text
  [class$='__body']
    margin-top: $m
    img
      max-width: 100% !important
      height: auto !important
      padding: $m
  [class$='__date']
    float: left
    text-transform: uppercase
    font-size: $size_small
    padding: $m/2 $m

// Animations

+keyframes(showup)
  0%
    +opacity(0)
    +transform( translate(0, 100px) )
  100%
    +opacity(1)
    +transform( translate(0, 0) )

+keyframes(hideup)
  0%
    +opacity(1)
  33%
    +opacity(1)
  100%
    +opacity(0)
