{# Widget for filtering the material view #} {% load i18n utils %}

<form class="material-filters">
    {% trans 'Busco' %}
    <select class="material-filters__search-field--type">
        <option value="of">{% trans 'ofertas' %}</option>
        <option value="de">{% trans 'demandas' %}</option>
        <option value="all">{% trans 'ofertas y demandas' %}</option>
    </select>
    {% trans 'de elementos' %}
    <select class="material-filters__search-field--subfamily">
        <option value="all">{% trans 'de cualquier tipo' %}</option>
        <option value="lo">{% trans 'longitudinales' %}</option>
        <option value="su">{% trans 'superficiales' %}</option>
        <option value="co">{% trans 'contenedores' %}</option>
        <option value="ot">{% trans 'singulares' %}</option>
    </select>
    {% trans 'de' %}
    <select class="material-filters__search-field--family">
        <option value="all">{% trans 'de cualquier material' %}</option>
        <option value="mad">{% trans 'madera' %}</option>
        <option value="met">{% trans 'metal' %}</option>
        <option value="pla">{% trans 'plástico' %}</option>
        <option value="ele">{% trans 'electrónica' %}</option>
        <option value="tex">{% trans 'textil' %}</option>
        <option value="otr">{% trans 'otros materiales' %}</option>
    </select>
    <button class="material-filters__search-submit">
        {% trans 'Filtra' %}
    </button>
</form>
