{# Space profile #} {% load i18n static ratings utils leaflet_tags %}

<div class="space-profile {% if not object.published %}unpublished{% endif %}">
    <div class="space-profile__location">
        <p class="space-profile__location-trigger">
            <span class="space-profile__location-icon icon-node"></span>
            <span class="space-profile__location-address">{{ object.place }} {% trans '(ver en mapa)' %}</span>
        </p>
        <div class="space-profile__location-map">
            {% leaflet_map "space-location" callback="space_map_init" %}
        </div>
    </div>
    {% if object.image  %}
        <figure class="space-profile__field-image">
            <img src="{{ object.image.url }}" />
        </figure>
    {% endif %}
    <h3 class="space-profile__name">
        {{ object.name  }}
    </h3>
    <div class="space-profile__summary">
        {{ object.summary  }}
    </div>
    {% if total_activated > 0 or total_recovered > 0 %}
        <div class="space-profile__numbers">
            {% if total_activated > 0 %}
            <div class="space-profile__numbers-activated">
                <span class="space-profile__numbers-icon icon-activados"></span>
                <p class="space-profile__numbers-label">{% trans 'Mat. activados' %}
                <p class="space-profile__numbers-cipher">{{ total_activated|floatformat:2 }} Tn.</p>
            </div>
            {% endif %}
            {% if total_recovered > 0 %}
            <div class="space-profile__numbers-recovered">
                <span class="space-profile__numbers-icon icon-recuperados"></span>
                <p class="space-profile__numbers-label">{% trans 'Mat. recuperados' %}
                <p class="space-profile__numbers-cipher">{{ total_recovered|floatformat:2 }} Tn.</p>
            </div>
            {% endif %}
        </div>
    {% endif %}
    <ul class="space-profile__nodes">
        <h4 class="space-profile__nodes-title">
            {% trans 'Nodos relacionados' %}
        </h4>
        {% for node in object.nodes.all %}
            <li class="space-profile__nodes-item">
                <img class="space-profile__nodes-image" src="{{ node.thumbnail.url }}" />
                <span class="space-profile__nodes-text">{{ node.name }}</span>
            </li>
        {% endfor %}
    </ul>
    <ul class="space-profile__agreements">
        <h4 class="space-profile__agreements-title">
            {% trans 'Acuerdos empleados' %}
        </h4>
        {% for agreement in object.agreement.all %}
            <li class="space-profile__agreements-item">
                <a href="{{ agreement.document.url }}" target="_blank" title="{% trans 'Ver acuerdo' %}">
                    <span class="space-profile__agreements-icon icon-acuerdo"></span>
                    <span class="space-profile__agreements-text">{{ agreement.title }}</span>
                </a>
            </li>
        {% empty %}
            {% url 'agreements' as agreements_link %}
            {% blocktrans trimmed %}
                No hay acuerdos relacionados con este espacio actualmente.
                Ver todos los <a href="{{ agreements_link }}" target="_blank">
                acuerdos</a>
            {% endblocktrans %}
        {% endfor %}
    </ul>
    <div class="space-profile__ratings">
        <h4 class="space-profile__ratings-title">
            {% trans 'Valora este espacio' %}
        </h4>
        {% ratings object %}
    </div>
    <div class="space-profile__share">
        {% share object.name|escape request.build_absolute_uri|urlencode  %}
    </div>
</div>

{# Populate map #}
<script type="text/javascript">
    var map_trigger = document.querySelector('.space-profile__location-trigger');
    var map_widget  = document.querySelector('.space-profile');
    map_trigger.addEventListener('click', function(){
        map_widget.classList.toggle('active');
    });
    function space_map_init(map, options) {
        // Map icon
        var icon = L.divIcon({
            html        : '<span class="icon-reuse"></span><span class="inner"></span>',
            iconSize    : [25, 40],
            iconAnchor  : [13, 40],
            popupAnchor : [0, -25],
        });
        var lat = {{ object.geom.coordinates.1 | escape }};
        var lon = {{ object.geom.coordinates.0 | escape }};
        map.setView([ lat, lon ], 12);
        var marker = L.marker([ lat, lon ], {
            icon : icon,
        }).bindPopup("{{ object.name }}").addTo(map);
    }
</script>
