{# Space profile #} {% load i18n static ratings utils leaflet_tags imagekit %}

<div class="space-profile {% if not object.published %}unpublished{% endif %}">
    <div class="space-profile__location">
        <p class="space-profile__location-trigger">
            <span class="space-profile__location-icon icon-node"></span>
            <span class="space-profile__location-address">{{ object.place }} {% trans '(ver en mapa)' %}</span>
        </p>
        <div class="space-profile__location-map">
            {% leaflet_map "space-location" callback="space_map_init" %}
        </div>
    </div>
    <div class="inner">
        <img class="space-profile__thumbnail" src="{{ object.thumbnail.url }}" />
        <h3 class="space-profile__name">
            <a href="{% url 'space' object.slug %}">
              {{ object.name }}
            </a>
        </h3>
        <div class="space-profile__summary">
            {{ object.summary  }}
        </div>
    </div>
</div>

{# Populate map #}
<script type="text/javascript">
    var map_trigger = document.querySelector('.space-profile__location-trigger');
    var map_widget  = document.querySelector('.space-profile');
    map_trigger.addEventListener('click', function(){
        map_widget.classList.toggle('active');
    });
    function space_map_init(map, options) {
        // Map icon
        var icon = L.divIcon({
            html        : '<span class="icon-reuse"></span><span class="inner"></span>',
            iconSize    : [25, 40],
            iconAnchor  : [13, 40],
            popupAnchor : [0, -25],
        });
        var lat = parseFloat({{ object.geom.coordinates.1 | escape }});
        var lon = parseFloat({{ object.geom.coordinates.0 | escape }});
        map.setView([ lat, lon ], 12);
        var marker = L.marker([ lat, lon ], {
            icon : icon,
        }).addTo(map);
    }
</script>
