{% extends 'layouts/single-fixed-column.html' %} {% load static i18n utils %}
{% block body_classes %}agreements{% endblock %} {% block htmltitle %}{% trans 'Acuerdos' %}{% endblock %}

{# Preface #}
{% block preface %}
    {% url 'resources'  as url_2 %}
    {% trans 'Recursos' as txt_2 %}
    {% trans 'Acuerdos' as txt_3 %}
    {% breadcrumb url_2 txt_2 txt_3 %}
{% endblock %}

{# Main #}
{% block main %}
    {# Title #}
    {% trans 'Acuerdos' as page_title %}
    {% include 'blocks/page-title.html' with text=page_title icon="acuerdos" %}

    <div class="page-explanation">{% blocktrans trimmed %}
        En esta página puedes encontrar modelos de convenios de cesión que puedes
        utilizar como base para generar los tuyos propios.
        Puedes adjuntar a tus reusos los documentos de cesión que hayas utilizado
        en ellos.
    {% endblocktrans %}</div>
    {% view items=object_list user=request_user %}
{% endblock %}

{# Scripts #}
{% block page_scripts %}
    {% jquery %}
    {% include 'scripts/masonry.html' with grid_class='view__content--agreement' item_class='agreement-item' %}
{% endblock %}
