{# Views of existing nodes in the GRRR network #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n static utils %}
{% block body_classes %}materials{% endblock %}{% block htmltitle %}{% trans 'Busca' %}{% endblock %}

{# Preface #}
{% block preface %}
    {% breadcrumb %}
    {% trans 'Busca' as pagetitle %}
    {% include 'blocks/page-title.html' with text=pagetitle icon='box' %}
    {% url 'contact_form' as contact_url %}
    {% trans 'Contacta con el equipo GRRR' as contact_title%}
    <div class="page-explanation">{% blocktrans trimmed %}
        Esta es la lista de materiales y ofertas y demandas asociadas a ellos.
        Editar los materiales que añades a la plataforma puede afectar al contenido
        generado por otr@s usuari@s, de manera que sólo el equipo de la plataforma
        puede editar o borrar los materiales una vez creados. Si crees que algún cambio es
        necesario <a href="{{ contact_url }}" title="{{ contact_title }}"
        target="_blank">coméntanoslo</a>.
    {% endblocktrans %}</div>
    {% include 'blocks/material-filters.html' %}
{% endblock %}

{% block main %}
    {% trans 'Ofertas y demandas actuales' as search_title %}
    {% view items=object_list user=request.user title=search_title %}
{% endblock %}

{# Scripts #}
{% block page_scripts %}
    {% jquery %}
    {% include 'scripts/masonry.html' with grid_class='view-batch__content' item_class='batch-item' %}
    <script type="text/javascript">
        !(function($){
            $(document).ready( function(){
                $('.material-filters__search-submit').click( function(e){
                    e.preventDefault();
                    $('.batch-item').hide('slow');
                    var query = '.sub-' + $('.material-filters__search-field--subfamily').val() +
                                '.mat-' + $('.material-filters__search-field--family').val();
                    if($('.material-filters__search-field--type').val() != 'all' )
                        query += '.cat-' + $('.material-filters__search-field--type').val()
                    $(query).show('slow');
                });
            });
        })(jQuery);
    </script>
{% endblock %}
