{# Displays a Post instance #} {% extends 'layouts/sidebar-left-fixed.html' %} {% load i18n static utils %}
{% block body_classes %}node-detail{% endblock %} {% block htmltitle %}{{ object.name }}{% endblock %}

{# Preface #}
{% block preface %}
    {% url 'nodes' as url_2 %}
    {% trans 'Nodos' as txt_2 %}
    {% breadcrumb url_2 txt_2 node.name %}

    {% include 'models/actions.html' with object=object model="node" identifier=object.pk classname="node" %}
{% endblock %}

{# Content #}
{% block main %}
    {% include 'blocks/page-title.html' with text=node.name icon="nodos" %}
    {% lorem %}

    {# {% share object.title|escape request.build_absolute_uri|urlencode  %}#}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
    {% include 'models/node_profile.html' with node=node user_has_permissions=user_has_permissions batches_number=batches_number %}
{% endblock %}
