{# Blog page #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n static utils %}
{% block body_classes %}blog{% endblock %}{% block htmltitle %}{% trans 'Blog' %}{% endblock %}

{# Preface #}
{% block preface %}
    {% breadcrumb  %}
{% endblock %}

{# Content #}
{% block main %}
    {% trans 'Blog' as title_text %}
    {% include 'blocks/page-title.html' with text=title_text icon="speech-bubble" %}
    {% view items=object_list user=request.user %}
{% endblock %}

{# Scripts #}
{% block page_scripts %}
    {% jquery %}
    {% include 'scripts/masonry.html' with grid_class='view-post__content' item_class='post-item' %}
{% endblock %}
