{# Displays a Post instance #} {% extends 'layouts/sidebar-right-fixed.html' %} {% load i18n static utils %}
{% block body_classes %}post-detail{% endblock %} {% block htmltitle %}{{ object.title }}{% endblock %}

{# Preface #}
{% block preface %}
    {# Breadcrumb #}
    {% url 'blog'  as url_2 %}
    {% trans 'Blog' as txt_2 %}
    {% breadcrumb url_2 txt_2 object.title %}
    {# User actions on node #}
    {% user_actions object request.user %}
{% endblock %}

{# Content #}
{% block main %}
    <div class="post-detail {% if not object.published %}unpublished{% endif %}">
        {% if object.image  %}
            <figure class="post-detail__image">
                <img src="{{ object.image.url }}" />
            </figure>
        {% endif %}
        {% include 'blocks/page-title.html' with text=object.title %}
        <div class="post-detail__summary">
            {{ object.summary }}
        </div>
        <div class="post-detail__body">
            <span class="post-detail__date">
                {{ object.creation_date|date:"d-M-Y" }}
            </span>
            {{ object.wysiwyg | safe }}
        </div>
    </div>

    {# Share links #}
    {% share object.title|escape request.build_absolute_uri|urlencode  %}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
    {% include 'blocks/twitter--aacc.html' with height=1600 %}
{% endblock %}

{# page scripts #}
{% block page_scripts %}
    {# Adjusts twitter widget height to content's height #}
    <script type="text/javascript">
        // Ready, only IE 9 or bigger
        var ready = function(callback) {
            document.readyState === "interactive" ||
            document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
        };
        ready(function(){
            var content_height = document.querySelector('.layout-main').clientHeight;
            var twitter_widget = document.querySelector('.twitter-timeline');
            twitter_widget.setAttribute('data-height', content_height - 180);
        });
    </script>
{% endblock %}
