{# Displays a Post instance #} {% extends 'layouts/sidebar-right-fixed.html' %} {% load i18n static utils %}
{% block body_classes %}post-detail{% endblock %} {% block htmltitle %}{{ object.title }}{% endblock %}

{# Preface #}
{% block preface %}
    {# Breadcrumb #}
    {% url 'blog'  as url_2 %}
    {% trans 'Blog' as txt_2 %}
    {% breadcrumb url_2 txt_2 object.title %}
    {# User actions on node #}
    {% user_actions object request.user %}
{% endblock %}

{# Content #}
{% block main %}
    <div class="post-detail {% if not object.published %}unpublished{% endif %}">
        {% if object.image  %}
            <figure class="post-detail__image">
                <img src="{{ object.image.url }}" />
            </figure>
        {% endif %}
        <div class="post-detail__space">
            {{ object.creation_date|date:"d-M-Y" }} >>> 
            {% if object.space %}
                <a href="{% url 'space' object.space.slug %}">{% trans 'Blog de ' %}{{ object.space.name }}</a>
            {% else %}
                {% trans 'Blog del colectivo editorial' %}
            {% endif %}
        </div>
        {% include 'blocks/page-title.html' with text=object.title %}
        <div class="post-detail__summary">
            {{ object.summary }}
        </div>
        <div class="post-detail__body">
            {{ object.wysiwyg | safe }}
        </div>
    </div>

    {# Share links #}
    {% share object.title|escape request.build_absolute_uri|urlencode  %}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
    {% if object.space and other_posts|length > 0 %}
        {% trans 'Otros posts de ' as title_prefix %}
        {% with title_prefix|add:" "|add:object.space.name as other_posts_title %}
            {% view items=other_posts user=request.user title=other_posts_title %}
        {% endwith %}
        <p class="other_posts__see-more">
            <a href="{% url 'space' object.space.slug %}">
              {% icon 'plus' 'Ver más resultados' %}
            </a>
        </p>
    {% else %}
        {% include 'blocks/twitter--aacc.html' with height=1600 %}
    {% endif %}
{% endblock %}

{# page scripts #}
{% block page_scripts %}
    {# Adjusts twitter widget height to content's height #}
    {% jquery %}
    <script type="text/javascript">
        // Ready, only IE 9 or bigger
        !(function($){
            var content_height = $('.layout-main').height();
            $('.twitter-timeline').attr('data-height', content_height - 180);
        })(jQuery);
    </script>
    <script type="text/javascript">document.querySelectorAll('.menu-main__link')[2].classList.add('active')</script>
{% endblock %}
