{# Displays a Post instance #} {% extends 'layouts/sidebar-right-fixed.html' %} {% load i18n static utils %}
{% block body_classes %}reuse-detail{% endblock %} {% block htmltitle %}{{ object.name }}{% endblock %}

{# Preface #}
{% block preface %}
    {# Breadcrumb #}
    {% url 'reuses'  as url_2 %}
    {% trans 'Reusos' as txt_2 %}
    {% breadcrumb url_2 txt_2 object.name %}
    {# User actions on reuse #}
    {% user_actions object request.user %}
{% endblock %}

{# Content #}
{% block main %}
    <div class="reuse-detail {% if not object.published %}unpublished{% endif %}">
        {% if object.image  %}
            <figure class="reuse-detail__field-image">
                <img src="{{ object.image.url }}" />
            </figure>
        {% endif %}
        {% include 'blocks/page-title.html' with text=object.name %}
        <div class="reuse-detail__summary">
            {{ object.summary  }}
        </div>
        <p class="reuse-detail__date">
            {{ object.creation_date }}
        </p>
        <div class="reuse-detail__body">
            {{ object.wysiwyg | safe }}
        </div>
    </div>
    
    {# Share links #}
    {% share object.title|escape request.build_absolute_uri|urlencode  %}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
    <h3>
        {% trans 'Arquitecturas Colectivas' noop %}
    </h3>
    {% include 'blocks/twitter--aacc.html' with height=1600 %}
{% endblock %}

{# page scripts #}
{% block page_scripts %}
    {# Adjusts twitter widget height to content's height #}
    <script type="text/javascript">
        var content_height = document.querySelector('.layout-main').clientHeight;
        var twitter_widget = document.querySelector('.twitter-timeline');
        twitter_widget.setAttribute('data-height', content_height - 180);
    </script>
{% endblock %}
