{# Displays a Post instance #} {% extends 'layouts/sidebar-left-fixed.html' %}
{% load i18n static utils ratings leaflet_tags %}
{% block body_classes %}space-detail{% endblock %}
{% block htmltitle %}{{ object.name }}{% endblock %}

{# Page styles #}
{% block page_header %}
     {% leaflet_css %}
{% endblock %}

{# Preface #}
{% block preface %}
    {# Breadcrumb #}
    {% url 'reuses'  as url_2 %}
    {% trans 'Espacios' as txt_2 %}
    {% breadcrumb url_2 txt_2 None object.name %}
    {# User actions on reuse #}
    {% user_actions object request.user %}
{% endblock %}

{# Content #}
{% block main %}
    <ul class="tabs">
        <li class="tabs__item active">
            <span class="label">{% trans 'Blog' %}</span> ({{ blogposts|length }})
        </li>
        {% if needs|length > 0 %}
        <li class="tabs__item">
            <span class="label">{% trans 'Demandas' %}</span> ({{ needs|length }})
        </li>
        {% endif %}
        {% if inventory|length > 0 %}
        <li class="tabs__item">
            <span class="label">{% trans 'Inventario' %}</span> ({{ inventory|length }})
        </li>
        {% endif %}
        {% if activated|length > 0 %}
            <li class="tabs__item">
                <span class="label">{% trans 'Activados' %}</span> ({{ activated|length }})
            </li>
        {% endif %}
        {% if recovered|length > 0 %}
            <li class="tabs__item">
                <span class="label">{% trans 'Recuperados' %}</span> ({{ recovered|length }})
            </li>
        {% endif %}
    </ul>
    <div class="profile-tab active">
        {% view items=blogposts user=request.user classname_modifier="space" %}
    </div>
    {% if needs|length > 0 %}
    <div class="profile-tab">
        {% view items=needs user=request.user title=needs_title classname_modifier="needs" %}
    </div>
    {% endif %}
    {% if inventory|length > 0 %}
    <div class="profile-tab">
        {% view items=inventory user=request.user classname_modifier="inventory" %}
    </div>
    {% endif %}
    {% if activated|length > 0 %}
    <div class="profile-tab">
        {% view items=activated user=request.user classname_modifier="active" %}
    </div>
    {% endif %}
    {% if recovered|length > 0 %}
    <div class="profile-tab">
        {% view items=recovered user=request.user classname_modifier="recovered" %}
    </div>
    {% endif %}
{% endblock %}

{# Sidebar #}
{% block sidebar %}
    {% include 'blocks/space-profile.html' with object=object total_activated=total_activated total_recovered=total_recovered %}
{% endblock %}

{# page scripts #}
{% block page_scripts %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script type="text/javascript">
        var tabs         = document.querySelectorAll('.tabs__item');
        var tabs_content = document.querySelectorAll('.profile-tab');
        tabs.forEach( function(tab, i){
            tab.addEventListener('click', function(event)
            {
                // Add active state to selected tab
                tabs.forEach( function(tab){
                    tab.classList.remove('active');
                });
                tabs[i].classList.add('active');
                // Add active state to selected tab content
                tabs_content.forEach( function(content){
                    content.classList.remove('active');
                });
                tabs_content[i].classList.add('active');
            });
        })
    </script>
    {% leaflet_js %}
    <script type="text/javascript">document.querySelectorAll('.menu-main__link')[0].classList.add('active')</script>
{% endblock %}
